* {
  /* font-size: 100%; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
 }

.counterh1{
  font-size: larger;
  text-align: center;
}
/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: lightslategray;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* The navigation bar */
.navbottombar {
  overflow: hidden;
  background-color: white; /* don't work without a color!!!*/
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; 
  width: 100%; /* Full width */
  font-size: 10px;
  text-align: center;
  height: 30px;
}


/* Main content */
.main {
  margin-top: 50px; /* Add a top margin to avoid content overlay */
  margin-bottom: 50px;/* Add a bottom margin to avoid content overlay */
}

.buttonblue1 {
  background-color: #666699;
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px solid #1A1A1A;
  border-radius: 5px;
}

.buttonblue2 {
  background-color: #6666bb;
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px solid #1A1A1A;
  border-radius: 5px;
}

.buttonblue3 {
  background-color: #6666dd; /* blue */
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px solid #1A1A1A;
  border-radius: 5px;
}

.buttonblue4 {
  background-color: #6666ff; /* blue */
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px solid #1A1A1A;
  border-radius: 5px;
}


.buttongreen {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px solid #1A1A1A;
  border-radius: 5px;
}
/*
.buttongreen:hover {
  background-color: #bebebe;
}
*/
.buttonred {
  background-color: #A01010; /* red */
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px solid #1A1A1A;
  border-radius: 5px;
}
/*
.buttonred:hover {
  background-color: #bebebe;
}
*/