{% extends "counter/layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<h1 class=counterh1>logging for starter</h1>

{% if log_list %}
<h2>{{ log_list.0.starter }} - swam lanes: {{ logedlanes }}</h2>
    <table class="log_list">
        <thead>
        <tr>
            <th>Date Time</th>
            <th>Kind</th>
        </tr>
        </thead>
        <tbody>
            {% for log in log_list %}
                <tr>
                    <td class="spaceRight">
                        {{ log.gettimestr }}
                    </td>
                    <td>
                        {{ log.kindstr }}
                    </td>
                </tr>
            {% endfor %}
    </table>
    <p>Number of Logs: {{ log_list|length }}</p>
    <p>Number of Logs swimming:{{ swimlogs }}</p>
    

{% else %}
    <p>No messages have been logged.</a></p>
{% endif %}

{% endblock %}