{% if log_list %}
    <table class="log_list">
        <thead>
        <tr>
            <th>Starter</th>
            <th>Bahn</th>
            <th>Last Log</th>
            <th>since</th>
            <th>action</th>
            <th>pause</th>
        </tr>
        </thead>
        <tbody>
            {% for log in log_list %}
                <tr class=logs>
                    <td>
                            <a href="{% url 'logdetailview' starter_id=log.starter.id %}"> {{ log.starter }}</a>
                    </td>
                    <td>
                        {{ log.starter.lane }}
                    </td>
                    <td>
                        {{ log.log.gettimestr }}
                    </td>
                    <td style="text-align: right;">
                        {{ log.log.since }}
                    </td>
                    <td>
                        {% if log.new_Log_possible %}                         
                        <button type="button" class="buttongreen" onclick="addLog(this)" id="{{ log.starter.id }}" value="addlog">
                            {{ log.starter.startnumber }} Log!
                        </button>
                        {% else %}
                        {% endif %}
                    </td>
                    <td>
                        <button type="button" class="buttonred" onclick="addLog(this)" id="{{ log.starter.id }}" value="take_a_break">
                            {{ log.starter.startnumber }} Pause!
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
no Logs
{% endif %}
