{% extends "counter/layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<h1 class="counterh1">starters currently not in the race</h1>
<div id="startertable"></div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    reloadStartlist = function()
        {
        $.ajax({
        url: '{% url 'startlist' %}',
        // get data from 'startlist'
        success: function(data) {
            if ($.trim(data)){
                $('#startertable').html(data);
                }
            }
    })};

    $(document).ready(reloadStartlist)
    
    const startSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/counter/'
    );

    startSocket.onmessage = function(e) {
        reloadStartlist();
        const data = JSON.parse(e.data);
        console.log(data)
        //window.location.reload()
    };

    startSocket.onclose = function(e) {
        console.error('Count socket closed unexpectedly');
    };

    addLog = function(e) {
        console.log(e.value)
        message = e.value + "," + e.id;
        startSocket.send(JSON.stringify({
            'message': message
        }));
    };
    

</script>

{% endblock %}

