{% extends "counter/layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<h1>Starter</h1>
<h2>overview of starters not in the race</h2>
{% if starter_list %}
    <table class="starter_list">
        <thead>
        <tr>
            <th>Starter</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            {% for starter in starter_list %}
                <tr>
                    <td><a href="{% url 'logdetailview' starter_id=starter.id %}"> {{ starter }}</a>
                    </td>
                    <td>
                        <a href="{% url 'back_to_swim' starter_id=starter.id lane=1 %}" class="buttonblue1">Lane 1</a>
                    </td>
                    <td>
                        <a href="{% url 'back_to_swim' starter_id=starter.id lane=2 %}" class="buttonblue2">Lane 2</a>
                    </td>
                    <td>
                        <a href="{% url 'back_to_swim' starter_id=starter.id lane=3 %}" class="buttonblue3">Lane 3</a>
                    </td>
                    <td>
                        <a href="{% url 'back_to_swim' starter_id=starter.id lane=4 %}" class="buttonblue4">Lane 4</a>
                    </td>                
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>All starter are in the race.</a></p>
{% endif %}

{% endblock %}

