{% extends "counter/layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<h1 class=counterh1>logging and counting</h1>

<p style="text-align: left">
    <input type="checkbox" name="lane" checked="True" value="1"> lane 1
    <input type="checkbox" name="lane" checked="True" value="2"> lane 2
    <input type="checkbox" name="lane" checked="True" value="3"> lane 3
    <input type="checkbox" name="lane" checked="True" value="4"> lane 4
    <input type="button" class="buttongray" value = "Show" onclick="reloadLoglist();"/>
</p>

</form>
    <div id="activestartertable"></div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        reloadLoglist = function()
        {
            laneArray = []
            $("input:checkbox[name=lane]:checked").each(function(){
                laneArray.push($(this).val());
            });
            if (laneArray.length == 0){
                    laneArray = ['0']
            }
            console.log(laneArray)
            $.ajax({
            url: '{% url 'loglistlanes' 'dummylane' %}'.replace('dummylane', laneArray),
            // get data from 'loglist'
            success: function(data) {
                if ($.trim(data)){
                    $('#activestartertable').html(data);
                    }
                }
        })};
        // Refresh the content every 5 seconds;
        // setInterval(reloadLoglist, 5000)
        // get data after page loaded
        $(document).ready(reloadLoglist)

        const countSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/counter/'
        );
    
        countSocket.onmessage = function(e) {
            reloadLoglist();
            const data = JSON.parse(e.data);
            //console.log(data)
            //window.location.reload()
        };
    
        countSocket.onclose = function(e) {
            console.error('Count socket closed unexpectedly');
        };

        addLog = function(e) {
            //console.log(e.value)
            message = e.value + "," + e.id;
            countSocket.send(JSON.stringify({
                'message': message
            }));
        };
        

    </script>
{% endblock %}